.mapYa {
    display: flex;
    justify-content: center;

    .map {
        align-items: center;
        justify-content: center;
        width: 900px;
        height: 900px;
    }
}

[class*="copyrights-pane"] {
    display: none !important;
}
